body {
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: fixed;
    background-image: url("44_Detailing_logo.jpg");
    /*background-position-y: 5px ;*/
    background-size: auto;

}
.button-start{
    background-color: lightgrey; /* Green */
    border:none;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);


}

form.hide-submit input[type="submit"]
{
    display: none;
}

#container{

    size: auto;

}

#logoutBtn{
    margin-top: 10px;
    margin-left:90%;
    position: absolute;


}

