body {
    background-repeat: no-repeat;
    background-position:  top;
    /*background-attachment: scroll;*/
    background-image: url("44_Detailing_logo.jpg");
    background-position-y: -5px ;
    /*background-size: 100%;*/

}
.button-start{
    background-color: lightgrey; /* Green */
    border:none;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);


}

form.hide-submit input[type="submit"]
{
    display: none;
}

#container{

    size: auto;

}

#logoutBtn{
    margin-top: 10px;
    margin-left:90%;
    position: absolute;


}

@media only screen and (max-width:1280px) {
    /* For notebooks */
    body {
        background-size:70%;

    }
}

